In [1]:
import pandas as pd
import numpy as np

In [2]:
a = np.zeros(20)
df = pd.DataFrame(a)

In [3]:
df

      0
0   0.0
1   0.0
2   0.0
3   0.0
4   0.0
5   0.0
6   0.0
7   0.0
8   0.0
9   0.0
10  0.0
11  0.0
12  0.0
13  0.0
14  0.0
15  0.0
16  0.0
17  0.0
18  0.0
19  0.0

In [4]:
b = pd.Series(np.array([0, 0]))

In [11]:
df = pd.concat(b, df)

/tmp/ipykernel_69171/4115001127.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  df = pd.concat(b, df)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "Series"

In [13]:
df = pd.DataFrame([a, b])

In [14]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN